/* component/Button/button.wxss */
.btn-large{
  position: relative;

  padding: 18px 22px;

  font-size: 18px;
}
.btn-normal{
  position: relative;

  padding: 10px 14px;

  font-size: 16px;
}
.btn-small{
  position: relative;

  padding: 6px 10px;

  font-size: 12px;
}